<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DSC540-Weeks-9-&amp;-10-Assignment" data-toc-modified-id="DSC540-Weeks-9-&amp;-10-Assignment-1">DSC540 Weeks 9 &amp; 10 Assignment</a></span></li><li><span><a href="#Activity-11" data-toc-modified-id="Activity-11-2">Activity 11</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#11.1.-Connect-to-petsDB-and-check-whether-the-connection-is-successful" data-toc-modified-id="11.1.-Connect-to-petsDB-and-check-whether-the-connection-is-successful-2.0.1">11.1. Connect to petsDB and check whether the connection is successful</a></span></li><li><span><a href="#11.2.-Find-the-different-age-groups-in-the-persons-database." data-toc-modified-id="11.2.-Find-the-different-age-groups-in-the-persons-database.-2.0.2">11.2. Find the different age groups in the persons database.</a></span></li><li><span><a href="#11.3.-Find-the-age-group-that-has-maximum-number-of-people" data-toc-modified-id="11.3.-Find-the-age-group-that-has-maximum-number-of-people-2.0.3">11.3. Find the age group that has maximum number of people</a></span></li><li><span><a href="#11.4.-Find-the-people-who-do-not-have-a-last-name" data-toc-modified-id="11.4.-Find-the-people-who-do-not-have-a-last-name-2.0.4">11.4. Find the people who do not have a last name</a></span></li><li><span><a href="#11.5.-Find-out-how-many-people-have-more-than-one-pet" data-toc-modified-id="11.5.-Find-out-how-many-people-have-more-than-one-pet-2.0.5">11.5. Find out how many people have more than one pet</a></span></li><li><span><a href="#11.6.-FInd-out-how-many-pets-have-received-treatment" data-toc-modified-id="11.6.-FInd-out-how-many-pets-have-received-treatment-2.0.6">11.6. FInd out how many pets have received treatment</a></span></li><li><span><a href="#11.7.-Find-out-how-many-pets-have-received-treatment-and-the-type-of-pet-is-known" data-toc-modified-id="11.7.-Find-out-how-many-pets-have-received-treatment-and-the-type-of-pet-is-known-2.0.7">11.7. Find out how many pets have received treatment and the type of pet is known</a></span></li><li><span><a href="#11.8.-Find-out-how-many-pets-are-from-city-called-east-port" data-toc-modified-id="11.8.-Find-out-how-many-pets-are-from-city-called-east-port-2.0.8">11.8. Find out how many pets are from city called east port</a></span></li><li><span><a href="#11.9.Find-out-how-many-pets-are-from-city-called-east-port-and-who-received-a-treatment" data-toc-modified-id="11.9.Find-out-how-many-pets-are-from-city-called-east-port-and-who-received-a-treatment-2.0.9">11.9.Find out how many pets are from city called east port and who received a treatment</a></span></li></ul></li></ul></li></ul></div>

# Guruprasad Velikadu Krishnamoorthy

##  DSC540 Weeks 9 & 10 Assignment

## Activity 11

In [1]:
# Loading the libraries
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Setting global options for the notebook 
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_rows", 100)
import warnings
warnings.filterwarnings('ignore')

#### 11.1. Connect to petsDB and check whether the connection is successful

In [3]:
def check_db_connection():
    """
    This functions connects to petsdb Database and returns status of True or False based on the 
    successful connection being made.
    """
    # Creating a connection context manager
    with sqlite3.connect("petsdb") as pets_conn:
        # Testing the connection from within a try/except 
        try:
            # Creating a cursor to execute queries in petsdb
            cursor1=pets_conn.cursor()
            # checking the number of rows in Persons table
            rows_count=cursor1.execute("select count(*) from persons;")
            # Printing the number of rows
            for rows in rows_count:
                print(f"Number of rows is {rows[0]}")
            # returning True is a succesful connection is made
            return True
        # Capturing exception for Programming errors
        except sqlite3.ProgrammingError as Error1:
            print(f"Connection not working: {Error1}")
            # returns False if connection is closed
            return False

In [4]:
# Calling the function to validate the connection. 
if check_db_connection():
    print("PetsDB Connection works!")

Number of rows is 100
PetsDB Connection works!

#### 11.2. Find the different age groups in the persons database.

In [5]:
# Creating a connection which will be used in rest of the assignment
pets_conn2=sqlite3.connect("petsdb")
# Creating a cursor to execute the queries
cursor2=pets_conn2.cursor()
# To find the different ages,  group by is used on the age column in persons table
person_rows1=cursor2.execute("select age,count(*) from persons group by age")
# The results from the cursor is printed which is in tuple form
for (age,nbr) in person_rows1:
    print(f"Number of people of age {age} is {nbr}")

Number of people of age 5 is 2
Number of people of age 6 is 1
Number of people of age 7 is 1
Number of people of age 8 is 3
Number of people of age 9 is 1
Number of people of age 11 is 2
Number of people of age 12 is 3
Number of people of age 13 is 1
Number of people of age 14 is 4
Number of people of age 16 is 2
Number of people of age 17 is 2
Number of people of age 18 is 3
Number of people of age 19 is 1
Number of people of age 22 is 3
Number of people of age 23 is 2
Number of people of age 24 is 3
Number of people of age 25 is 2
Number of people of age 27 is 1
Number of people of age 30 is 1
Number of people of age 31 is 3
Number of people of age 32 is 1
Number of people of age 33 is 1
Number of people of age 34 is 2
Number of people of age 35 is 3
Number of people of age 36 is 3
Number of people of age 37 is 1
Number of people of age 39 is 2
Number of people of age 40 is 1
Number of people of age 42 is 1
Number of people of age 44 is 2
Number of people of age 48 is 2
Number of people of age 49 is 1
Number of people of age 50 is 1
Number of people of age 51 is 2
Number of people of age 52 is 2
Number of people of age 53 is 2
Number of people of age 54 is 2
Number of people of age 58 is 1
Number of people of age 59 is 1
Number of people of age 60 is 1
Number of people of age 61 is 1
Number of people of age 62 is 2
Number of people of age 63 is 1
Number of people of age 65 is 2
Number of people of age 66 is 2
Number of people of age 67 is 1
Number of people of age 68 is 3
Number of people of age 69 is 1
Number of people of age 70 is 1
Number of people of age 71 is 4
Number of people of age 72 is 1
Number of people of age 73 is 5
Number of people of age 74 is 3

#### 11.3. Find the age group that has maximum number of people

In [6]:
# Creating a cursor to group by ages and print the results
person_rows2=cursor2.execute("select age,count(*) from persons group by age order by count(*) desc")
# Looping through age and count which will be in tuple format
for (age,nbr) in person_rows2:
    print(f"Maximum Number of people are of age {age} and there are {nbr} such people")
    # Using break statement to only print the first result. This will give us the age of maximum number of people
    break

Maximum Number of people are of age 73 and there are 5 such people

#### 11.4. Find the people who do not have a last name

In [7]:
# Creating a cursor to select all records from persons table and printing all rows
all_ppl_rows=cursor2.execute("select * from persons;")
for row in all_ppl_rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(27, 'Friedrich', 'Wunsch', 48, 'east port', 9756543)
(28, 'Domenica', 'Lakin', 13, 'west port', 76856785)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(33, 'Keyon', 'Upton', 51, 'south port', 123456)
(34, 'Jacquelyn', 'Bradtke', 54, 'south port', 123456)
(35, 'Maritza', None, 73, 'east port', 9756543)
(36, 'Ivory', 'Sawayn', 8, 'south port', 76856785)
(37, 'Grant', None, 61, 'east port', 76856785)
(38, 'Salma', 'Terry', 71, 'west port', 123456)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(44, 'Brenda', 'Murray', 62, 'south port', 2345678)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(47, 'Lurline', 'Becker', 24, 'west port', 76856785)
(48, 'Timmothy', 'Tillman', 12, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(51, 'Wendell', 'Sauer', 39, 'south port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(53, 'Gabriella', 'Kertzmann', 30, 'south port', 76856785)
(54, 'Citlalli', 'Pollich', 18, 'west port', 2345678)
(55, 'Dax', 'Romaguera', 23, 'west port', 123456)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(58, 'Lou', 'Bradtke', 71, 'south port', 2345678)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(60, 'Nicklaus', 'Purdy', 72, 'new port', 2345678)
(61, 'Destiney', 'Sauer', 24, 'west port', 2345678)
(62, 'Cassidy', 'Crona', 18, 'east port', 123456)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(68, 'Aniyah', 'Grant', 27, 'new port', 9756543)
(69, 'Ashton', 'Schaden', 25, 'west port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(71, 'Presley', 'Gleason', 58, 'new port', 9756543)
(72, 'Ephraim', 'Kihn', 67, 'south port', 123456)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(76, 'Sammy', 'Franecki', 53, 'south port', 76856785)
(77, 'Ebba', 'Kihn', 34, 'west port', 2345678)
(78, 'Leilani', 'Gislason', 53, 'south port', 123456)
(79, 'Isabel', 'Beier', 74, 'west port', 2345678)
(80, 'Jo', 'DuBuque', 68, 'west port', 76856785)
(81, 'Angel', 'Mraz', 37, 'west port', 123456)
(82, 'Letha', None, 44, 'new port', 9756543)
(83, 'Lily', 'Hegmann', 12, 'east port', 123456)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(88, 'Elfrieda', 'Nikolaus', 36, 'west port', 2345678)
(89, 'Anissa', None, 8, 'south port', 76856785)
(90, 'Mathew', 'Luettgen', 71, 'east port', 2345678)
(91, 'Sid', None, 22, 'west port', 123456)
(92, 'Micheal', 'Schuppe', 6, 'west port', 9756543)
(93, 'Joanie', 'Cassin', 68, 'new port', 76856785)
(94, 'Jerad', 'Pfeffer', 74, 'west port', 123456)
(95, 'Benjamin', 'Lowe', 51, 'south port', 9756543)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)
(98, 'Hilma', 'Waelchi', 48, 'east port', 9756543)
(99, 'Otilia', 'Gleason', 66, 'new port', 9756543)
(100, 'Adrian', 'Schinner', 5, 'south port', 76856785)

In [8]:
# Creating resultset of all people that dont have a last name
results1=cursor2.execute("select count(*) from persons where last_name is null;")
# Printing the results by extracting the first element
for data in results1:
    print(f"There are {data[0]} people that do not have a last name")

There are 60 people that do not have a last name

#### 11.5. Find out how many people have more than one pet

In [9]:
# Creating a cursor to select all records from pets table and printing all rows
all_pets_rows=cursor2.execute("select * from pets;")
# Printing the results 
for row in all_pets_rows:
    print(row)

(57, 'mani', 1.0, 0)
(80, 'tamari', None, 0)
(25, 'raba', None, 0)
(27, 'olga', None, 0)
(60, 'raba', None, 0)
(37, 'dara', 1.0, 0)
(33, 'chegal', 1.0, 0)
(16, 'dara', None, 0)
(100, 'chegal', None, 0)
(46, 'raba', None, 1)
(21, 'tamari', 1.0, 0)
(94, 'snoopy', 1.0, 1)
(100, 'bulga', None, 1)
(5, 'fenga', None, 0)
(24, 'palu', None, 0)
(16, 'fenga', 1.0, 1)
(48, 'snoopy', None, 0)
(27, 'gimir', 1.0, 0)
(67, 'raba', None, 0)
(31, 'chegal', 1.0, 1)
(14, 'unsa', 1.0, 0)
(40, 'sapi', None, 0)
(25, 'bhukbhuk', None, 0)
(42, 'dara', None, 0)
(45, 'sami', None, 1)
(27, 'bulga', 1.0, 0)
(20, 'olga', None, 0)
(8, 'chegal', None, 0)
(45, 'nani', 1.0, 0)
(56, 'deru', None, 0)
(64, 'milu', 1.0, 0)
(2, 'mani', 1.0, 0)
(36, 'dara', None, 0)
(89, 'sapi', None, 0)
(28, 'mani', 1.0, 0)
(95, 'deru', None, 0)
(26, 'mani', None, 1)
(60, 'helu', 1.0, 0)
(10, 'snoopy', 1.0, 0)
(25, 'milu', None, 0)
(6, 'milu', 1.0, 0)
(31, 'fenga', None, 0)
(18, 'deru', None, 0)
(6, 'deru', 1.0, 1)
(35, 'milu', None, 0)
(42, 'deru', None, 1)
(21, 'chegal', None, 1)
(83, 'olga', None, 0)
(69, 'raba', 1.0, 1)
(88, 'chegal', 1.0, 0)
(13, 'gimir', None, 0)
(82, 'unsa', 1.0, 1)
(27, 'unsa', None, 0)
(38, 'raba', None, 0)
(23, 'snoopy', 1.0, 1)
(71, 'bulga', None, 0)
(64, 'palu', 1.0, 0)
(43, 'tamari', None, 0)
(79, 'gimir', None, 0)
(9, 'gimir', None, 0)
(98, 'bulga', 1.0, 1)
(43, 'helu', None, 0)
(10, 'nani', 1.0, 0)
(33, 'tamari', None, 0)
(32, 'gimir', 1.0, 0)
(37, 'helu', None, 0)
(28, 'fenga', None, 0)
(57, 'mani', 1.0, 0)
(97, 'palu', 1.0, 1)
(38, 'sami', 1.0, 0)
(81, 'milu', 1.0, 0)
(2, 'gimir', 1.0, 0)
(68, 'gimir', None, 1)
(99, 'milu', None, 1)
(7, 'olga', 1.0, 0)
(3, 'tamari', None, 1)
(40, 'palu', 1.0, 0)
(27, 'bulga', 1.0, 0)
(85, 'milu', None, 0)
(9, 'palu', 1.0, 0)
(15, 'nani', 1.0, 0)
(98, 'sami', None, 0)
(90, 'mani', 1.0, 1)
(41, 'mani', 1.0, 1)
(35, 'dara', 1.0, 1)
(13, 'dara', 1.0, 0)
(12, 'unsa', None, 0)
(99, 'helu', None, 0)
(56, 'unsa', None, 1)
(91, 'unsa', None, 0)
(7, 'unsa', None, 0)
(53, 'sami', 1.0, 1)
(33, 'helu', None, 0)
(17, 'palu', 1.0, 0)
(86, 'milu', 1.0, 0)
(64, 'chegal', None, 1)
(53, 'chegal', None, 0)
(14, 'chegal', 1.0, 0)
(20, 'fenga', 1.0, 0)
(49, 'sami', 1.0, 0)
(51, 'bulga', None, 0)
(1, 'raba', None, 1)
(51, 'bhukbhuk', 1.0, 0)
(18, 'milu', None, 0)
(99, 'snoopy', 1.0, 0)
(57, 'snoopy', None, 1)
(21, 'mani', 1.0, 0)
(39, 'sapi', None, 0)
(84, 'chegal', None, 1)
(5, 'dara', 1.0, 0)
(47, 'sapi', None, 0)
(98, 'helu', 1.0, 0)
(2, 'tamari', None, 1)
(37, 'nani', None, 0)
(39, 'dara', None, 0)
(37, 'sami', None, 0)
(50, 'bulga', 1.0, 0)
(50, 'milu', None, 0)
(35, 'chegal', None, 0)
(5, 'dara', None, 0)
(40, 'chegal', None, 0)
(42, 'snoopy', None, 0)
(58, 'sapi', 1.0, 0)
(73, 'olga', None, 1)
(58, 'sapi', 1.0, 0)
(43, 'palu', None, 0)
(36, 'snoopy', 1.0, 0)
(11, 'fenga', None, 0)
(56, 'milu', None, 1)
(56, 'sapi', None, 1)
(60, 'bhukbhuk', 1.0, 0)
(7, 'helu', None, 1)
(56, 'olga', None, 0)
(10, 'sapi', 1.0, 1)
(24, 'fenga', None, 1)
(55, 'tamari', None, 0)
(67, 'palu', None, 0)
(44, 'sami', 1.0, 0)
(93, 'palu', 1.0, 0)
(50, 'tamari', None, 0)
(49, 'fenga', 1.0, 0)
(40, 'milu', 1.0, 0)
(48, 'nani', 1.0, 0)
(51, 'bhukbhuk', None, 0)
(77, 'sami', 1.0, 1)
(86, 'fenga', 1.0, 0)
(87, 'palu', 1.0, 0)
(26, 'snoopy', 1.0, 0)
(36, 'nani', 1.0, 0)
(22, 'helu', 1.0, 1)

In [10]:
# Creating resultset of all people that have more than one pet
results2=cursor2.execute("select count(owner_id) from (select owner_id,count(*) from pets group by owner_id having count(*) >1)")
# Printing the results by extracting the first element
for data in results2:
    print(f"There are {data[0]} people that have more than one pet")

There are 43 people that have more than one pet

#### 11.6. FInd out how many pets have received treatment

In [11]:
# Creating resultset of all pets that received treatment. The value 1 indicates "received treatment"
results3=cursor2.execute("select count(*) from pets where treatment_done=1")
# Printing the results by extracting the first element
for data in results3:
    print(f"There are {data[0]} pets that received treatment.")

There are 36 pets that received treatment.

#### 11.7. Find out how many pets have received treatment and the type of pet is known

In [12]:
# Creating resultset of all pets that received treatment. The value 1 indicates "received treatment"
# and pet type not being null indicates the type is known
results4=cursor2.execute("select count(*) from pets where treatment_done=1 and pet_type is not null")
# Printing the results by extracting the first element
for data in results4:
    print(f"There are {data[0]} pets that have received treatment and the type of pet is known")

There are 16 pets that have received treatment and the type of pet is known

#### 11.8. Find out how many pets are from city called east port

In [13]:
# To find the number of pets from city of east port, the tables persons and pets are joined based on 
# the id. Then the filters of city name is applied. 
results5=cursor2.execute(""" select count(*) from persons prsn  join pets pts
ON prsn.id=pts.owner_id 
where prsn.city='east port'
""")  
# Printing the results by extracting the first element
for data in results5:
    print(f"There are {data[0]} pets that are from city of 'east port'. ")

There are 49 pets that are from city of 'east port'.

#### 11.9.Find out how many pets are from city called east port and who received a treatment

In [14]:
# To find the number of pets from city of east port, the tables persons and pets are joined based on 
# the id. Then the filters of city name is applied and treatment are applied.  
results6=cursor2.execute(""" select count(*) from persons prsn  join pets pts 
ON prsn.id=pts.owner_id 
where prsn.city='east port'
and pts.treatment_done=1
""")  
# Printing the results by extracting the first element
for data in results6:
    print(f"There are {data[0]} pets that are from city of 'east port' who received treatment ")

There are 11 pets that are from city of 'east port' who received treatment

In [15]:
# Commiting the results and closing the connection
pets_conn2.commit()
pets_conn2.close()